html,body{
	width:100%;
	height:100%;
}
.container_chat{
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	overflow:hidden;
}
div[data-role='block_users']{
	width: 30%;
	height:100%;
	overflow: auto;
	float:left;
}
div[data-role='block_message_content']{
	border-bottom: 1px solid grey;
	height:100%;
	overflow: auto;
}
div[data-role='block_message']{
	width: 100%;
	height:100%;
}
button[data-role="openChat"],
button[data-role="authUser"]{
	height: 50%;
	font-size: 200%;
	outline: none;
	background-color: azure;
	color: grey;
}
button[data-role="openChat"],
button[data-role="authUser"]:focus{
	outline:none;
}
.tableMessage{
	width: 70%;
	display:table;
	height: 100%;
	float: right;
}
.rowSelect{
	display: table-row;
	height:0;
}
.cellSelect,
.cellMessagePost,
.cellMessageContent{
	display:table-cell;
}
.rowMessageContent,
.rowMessagePost{
	display:table-row;
}
.rowMessagePost{
	height:15%;
}