/*form[role="form"]{
}*/
.form-group{
	width: 96%;
	margin-left: 2%;
	margin-top: 1%;
	margin-bottom: 0;
}
.btn.btn-success{
	outline: none;
	margin:1%;
}
textarea::-webkit-input-placeholder{
	font-size: 1.5em;
	padding: 1%;
}
.form-control{
	font-size: 1.5em;
}
.list_message{

}
