button[data-role="exit"]{
	position: absolute;
	top: 0.5em;
	right: 2%;
}
button[data-role="add message"]{
	position:absolute;
	top: 0.5em;
	right: 8%;
}
.list-unstyled.list_message{
	font-size: 1.5em;
	width: 94%;
	margin-left: 2%;
	margin-top: 2%;
}