button[data-role="exit"]{
	position: absolute;
	top: 0.5em;
	right: 2%;
}
.list-unstyled.list_message{
	font-size: 1.5em;
	width: 94%;
	margin-left: 2%;
	margin-top: 2%;
}
.list_message li{
	margin-bottom: 0.5em;
}
.user_date{
	font-size: small;
	display: block;
	margin-bottom: -4px;
}
.user_name{
	margin-bottom: -5px;
	display: block;
	font-weight: bold;
}
.message_content{
	color: #402D2D;
}
div[data-role="load"]{
	display: none;
	font-size: xx-large;
}