.list-unstyled.list_message{
	font-size: 1.5em;
	width: 98%;
	margin-top: 2%;
}
.user_date{
	font-size: small;
	margin-top: 0.5em;
	float: left;
}
.user_name{
	margin-right: 1em;
	font-family: monospace;
}
.message_content{
	word-wrap: break-word;
	word-break: break-all;
	white-space: pre-wrap;
	color: #464545;
	font-family: monospace;
}
div[data-role="load"]{
	display: none;
	font-size: xx-large;
}
span[data-role="new message"]{
	display:none;
}
.separate{
	padding-left: 4em;
	font-size: 1em;
	background-color: aliceblue;
	color: #5EABC1;
}
span.lead{
	margin-bottom: 0;
}
.selection_panel{
	position:absolute;
	right:3em;
	top:1em;
	opacity: 0.5;
	z-index: 1;
}
.selection_panel:hover{
	opacity:1;
	cursor:pointer;
}
.block_userName_and_content{
	margin-left: 3em;
	word-wrap: break-word;
	word-break: break-all;
	white-space: pre-wrap;
}
