doctype html
html
    head
        title chat
        meta(http-equiv="content-type", content="text/HTML;charset=UTF-9")
        link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href='/css/index.css')
        link(rel="stylesheet", href='/blocks/block_messagePost/block_message.css')
        link(rel="stylesheet", href='/blocks/block_message_content/block_message_content.css')
        link(rel="stylesheet", href="/blocks/block_users/block_users.css" )
        link(rel="stylesheet", href="/blocks/blockMenu/blockMenu.css" )

        - if ( theme !== 'undefined' ) {
            link(rel="stylesheet", href="#{theme}")
        - }
        //- link(rel="shortcut icon", href="your_image_path_and_name.ico")

        script(src="/js/jquery.min.js")
        script(src="/bootstrap/js/bootstrap.min.js")
        script(src="/js/jade.min.js")
        script(src='/socket.io/socket.io.js')
    body
        .container_chat
            .column(data-role='block_users')
            .tableMessage
                .rowSelect
                    .cellSelect
                        .selection_panel
                            span.glyphicon.glyphicon-comment(data-role='new message')
                            audio(data-role = 'ringtoneMessage' src = src="/ringtone/rington_newMessage_1.mp3" type="audio/mpeg")
                .rowMessageContent
                    .cellMessageContent
                        .column(data-role='block_message_content')
                            div(data-role='load').text-center.text-primary loading ...
                .rowMessagePost
                    .cellMessagePost
                        .column(data-role='block_message')
                            span.text-danger.warning-message
                            .form-group
                                textarea.form-control(data-role='message' rows=1 autofocus )
                                button.btn.btn-default(data-name='postMessage')
                                    span.glyphicon.glyphicon-send
            .selectMenu
                ul.list-unstyled.menu
                    li.elementmenu
                        span.glyphicon.glyphicon-off.exit(data-role='exit')
                    li.elementmenu
                        span.glyphicon.glyphicon-cog.settings
                    li.elementmenu
                        label
                            input(data-role='sound' type='checkbox' checked)
                            span.sound.glyphicon.glyphicon-volume-up.value
                            span.soundOf.glyphicon.glyphicon-volume-off.notValue

            .blockSettings
                .bg-success.select__
                    button.btn.btn-default.openCloseBlockTheme themes
                .selectThemes
                    ul.list-unstyled.listTheme
                        li.theme(data-linkToCss='/css/themePink.css') pink
                        li.theme(data-linkToCss='/css/themeDark.css') dark
                        li.theme(data-linkToCss='/css/index.css') default
                        li
                            input(data-role='themeUser' placeholder='link to css').form-control
                            button.btn.btn-default.applayTheme apply

        script(src="/js/PubSub.js")
        script(src="/js/serverAPI.js")
        script(src="/js/socket.js")
        script(src="/blocks/block_auth/block_auth.js")
        script(src="/blocks/block_message_content/block_message_content.js")
        script(src="/blocks/block_messagePost/block_messagePost.js")
        script(src="/blocks/block_users/block_users.js")
        script.
            var login = '#{login}';
        script(src='/js/main.js')
        script(src='/blocks/blockMenu/blockMenu.js')