doctype html
html
    head
        title chat
        meta(http-equiv="content-type", content="text/HTML;charset=UTF-9")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href='/css/index.css')
        link(rel="stylesheet", href='/blocks/block_message/block_message.css')
        link(rel="stylesheet", href='/blocks/block_message_content/block_message_content.css')

        script(src="/js/jquery.min.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/jade.min.js")
        script(src='/socket.io/socket.io.js')
    body
        .container
            .row
                .col-md-3.col-sm-3.col-lg-3.col-xs-3
                    .column(data-role='block_users')
                .col-md-9.col-sm-9.col-lg-9.col-xs-9
                    .column(data-role='block_message_content')
                        button.btn.btn-warning(data-role='exit') Exit
                        button.btn.btn-info(data-role='add message') load message
                    .column(data-role='block_message')
                        form(role='form')
                            .form-group
                                input(type='hidden' data-role='room')
                                input(type='hidden' data-role='')
                                textarea(class='form-control' rows='7' placeholder='MESSAGE TEXT' autofocus)
                            button.btn.btn-success Send
        script(src="/js/query_to_server.js")
        script(src="/js/socket.js")
        script(src="/blocks/block_auth/block_auth.js")
        script(src="/blocks/block_message_content/block_message_content.js")
        script(src='/js/main.js')
        script(src="/blocks/block_message/block_message_socket.js")
