li( data-role='message' data-id_message = id )
    time.small.text-muted.user_date #{time}
    div.block_userName_and_content
        span.text-info.user_name(data-name = dataName ) #{name}
        span.lead.message_content #{content}