.form-group{
    height:inherit;
	width: 100%;
	margin-bottom: 0;
}
button[data-name="postMessage"]{
	outline	: none;
	margin  : 2% 0.5% 0 0;
	width   :5%;
	height  :3em;
	padding :0;
	background-color: #C1EBFF;
	border: none;
}
span.glyphicon{
	font-size: 150%;
	color: #60AFF3;
}
.btn:focus,.btn:active {
   	outline: none !important;
 	background-color: #C1EBFF;
 	border: none;
}
button[data-name="postMessage"]:hover{
	background-color: #C1EBFF;
	border: none;
}
textarea::-webkit-input-placeholder{
	font-size: 1em;
}
textarea[data-role="message"]{
	font-size: 1.5em;
    width: 93%;
    resize:none;
    float: right;
    margin:2% 1% 0 0;
}